base58==2.1.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Caching==1.10.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pycurl==7.43.0.2
PyGObject==3.30.4
python-apt==1.8.4.3
requests==2.22.0
simplejson==3.16.0
urllib3==1.25.6
uWSGI==2.0.18
Werkzeug==0.16.0
